*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #bg-section{
    background:#1c2a39e3 !important;
} */
#bg-section img{
   border-radius: 10px;
   box-shadow: 0 15px 35px rgb(0, 0, 0);
   
}
#bg-section{
    background-color:rgba(15,24,41,255);
    height: auto;
    width: 100%;
    /* border-bottom: 2px solid wheat; */
}
#bg-section .card {
    background-color:  rgba(255, 255, 255, 0.030);
}
@media (min-width: 320px) and (max-width: 480px) {
    #bg-section img{
         height: 500px;
         width: 300px;
    }
    #bg-section p{
        width: 90%;
    }
    
}