*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #bg-section{
    background:#1c2a39e3 !important;
} */

#bg-section img{
   filter: drop-shadow(15px -1px 40px rgba(0, 0, 0, 0.25));
   border-radius: 46px;
}
#bg-section{
    height: auto;
    width: 100%;
}
#bg-section p {
    font-family: 'Gotham Light';
font-style: normal;
font-weight: 500;
font-size: 19px;
letter-spacing: 0.05em;

color: #000000;

}
@media (min-width: 320px) and (max-width: 480px) {
    #bg-section img{
         height: 500px;
         width: 300px;
    }
    #bg-section p{
        width: 90%;
    }
    #bg-section p {
       text-align: center;
    
    }
    #bg-section img{
        position: relative;
        left: 40px;
     }
}