
.testimonial{
  width: 80%;
    height: 520px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 3px 8px 47px -15px rgba(0, 0, 0, 0.25);
border-radius: 18px;
  
  }
  
    .circle-image {
      align-self: center;
      border-radius: 50% ;

    }
    .testimonial-card img{
      box-shadow: 3px 8px 47px 15px rgba(0, 0, 0, 0.25);
      border-radius: 50% ;
      transition: .5s ease-in-out;
     border: 5px solid var(--primary-color);
    }
  
   
     .testimonial-card h5{
      /* font-size: 1.4em; */
      margin: 20px 0 20px;
      text-align: center;
      color: #000000  !important;
     }
    .testimonial-card{
      flex-direction: column;
    background: #FFFFFF;
     display: flex;
     flex-direction: column;
     transform: translateY(150px);
     transition: .5s ease-in-out;
     
    }
  
    
    .testimonial-card:hover{
      transform: none;
     overflow: scroll; 
    }
  
    .testimonial-card p{
      transition: .5s ease-in;
      margin-left: 10px;
      margin-right: 10px;
      color: #2B2B2B;


    }
  
  .btn-more{
    margin-bottom: 3rem;
    background: rgba(15, 24, 40, 0.9);
    backdrop-filter: blur(2px);
width: 170px;
height: 50px;
border-radius: 6px;
color: #FFFFFF;
  }

  .btn-more:hover{
     background: #FFFFFF;
color: rgba(15, 24, 40, 0.9);
transition: 0.5s;
}

@media only screen and (max-width:768px) and (min-width:320px){
 
 .testimonial{
  width: 100%;
 }
  }