
.nav-pills .nav-link{
    color: #0F1828;
}
.nav-pills .nav-link:hover{
  color: #000000;
}
.tab-content{
    margin: 30px;
}
#container {
  /* background: linear-gradient(to bottom, rgba(15, 24, 41, 255), #ffffff); */
  background: #FFFFFF;
  }
  .fields {
    padding-top: 40px;
    padding-bottom: 40px;
  }
#container p,li,h3 {
   color: #000000;
}
 


.nav-tabs {
    padding-left: 20px;
    gap: 10px;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
     max-width: 100%;
     color: rgb(255, 254, 254)  !important;

  }
        
  .nav-tabs .nav-item {
     margin-bottom: 20px;
    margin-top: 5px;
     max-width: 150px;  
     display: grid;
     left: 30%;
     position: relative;
     background: #F7F7F7;
    /* font-weight: bold; */
    border-radius: 6px;

    /* border-top: 1px solid  rgb(255, 253, 253) !important;

    border-bottom: 1px solid rgb(255, 255, 255) !important;
    border-left: 1px solid rgb(255, 255, 255) !important;
    border-right: 1px solid rgb(255, 255, 255) !important;  */

  }
  .nav-tabs .nav-item.active {
    z-index: 30 !important;
  }
  .nav-tabs .nav-link.active {
    background-color: #AEAEAE !important;
    color: #0F1828 !important;
    border-radius: 6px;
    /* font-weight: bold; */
    border-top: 1px solid  rgb(255, 253, 253) !important;
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    border-left: 1px solid rgb(255, 255, 255) !important;
    border-right: 1px solid rgb(255, 255, 255) !important;
    
    
  }
  #context{
    width: 75% ;
  }

 #price .card{
  background: #FFFFFF;
   box-shadow: 2.67453px 7.13208px 43px -13.3726px rgba(0, 0, 0, 0.25);
   border-radius: 27px;
    padding: 17.8302px 117.679px;
     width: 305px;
     height: 266px;
     margin-top: 6rem;
     margin-bottom: 3rem;
 }
 #price hr{
    width: 200px;
    z-index: 100;
 
 }
 #price span{
    width: 200px;
    display: flex;
    justify-content: center;
 }
 #price h4{
  /* font-family: Gotham Bold;
  font-size: 30px;
  font-weight: bold; */
  width: 200px;
  display: flex;
  justify-content: center;
}
#price #cardUp{
    position: relative;
    top: -50px;
}
#price a{
  color: black;
}
#price a:hover{
  color: black !important;
}
  
.btn-start{
  /* font-style: normal;
  font-weight: 400;
  font-size: 20px; */
  
      margin-bottom: 10rem;
      background: rgba(15, 24, 40, 0.9);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  width: 170px;
  height: 50px;
  border-radius: 6px;
  color: #FFFFFF;
    }
    .btn-start:hover{
       background: #FFFFFF;
  color: rgba(15, 24, 40, 0.9);
  transition: 0.5s;
  }
  @media only screen and (max-width:768px) and (min-width:320px){
   
   .testimonial{
    width: 100%;
   }
    }

#button{
  border: 1px solid rgb(255, 255, 255) !important;
  background-color: #AEAEAE !important;
  color: #0F1828 !important;
  border-radius: 6px;
   width: 150px;
   height: 40px;

}
#button:hover{
  border: 0px solid rgb(0, 0, 0) !important;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.322);
  
}




  @media screen and (max-width:768px) {
   .nav-tabs {
      border-bottom: 1px solid rgb(255, 255, 255) !important;
      max-width: 100%;
      padding-left: 8px;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.322);
     }
           
     .nav-tabs .nav-item {
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 130px;  
      left: 0%;
     display: grid;
     justify-content: center;
     }
     #price .card{
        padding: 0px 0px;
         margin-top: 3rem;
         margin-bottom: 0rem;
     }
     
     #price #cardUp{
      position: relative;
      top: 0px;
  }
  #context{
    width: 100% ;
  }
  #button{
    display: none;
  }
  }