.contact-us {
    background: url("../public/images/bg-contact2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  
  .contact-us .fields {
    background: rgba(2, 2, 2, 0.7);
    min-height: 300px;

    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .contact-us p {
    margin-bottom: 40px;
  }
  
  .contact-us textarea {
    height: 208px;
  /* border-radius: 0; */
  }
 .contact-us textarea::placeholder {
    color: rgb(0, 0, 0);
  }
  
  .contact-us input[type="text"], .contact-us textarea {
    background: rgba(15,24,41,0.90);
  }
 
  .input-group {
    position: relative;
   }

  
   .form-group textarea {
    height: 208px;

  }
  .form-group textarea::placeholder {
    color: rgb(0, 0, 0);
  }
  
  .input-group input[type="text"], .form-group textarea {
    background: #FFFFFF;
  }
  .form-group  .input-group input{
    background: #FFFFFF;

  }
  .form-group  .input-group select{
    background-color: #FFFFFF;
    z-index: 10;
    border-radius: 30px;
    color: #020202;

  }
   .user-label {
    position: absolute;
    left: 15px;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color:#ECECEC;
    padding: 0 .6em;
    z-index: 10;
    border-radius: 30px;
    color: #020202;

   }
   .form-select {
    background-color: #89cff08c;
   }


