/* #detail-div p::first-letter{
    
    color: var(--primary-color);
} */
#detail-div{
    width: 70% !important;
}

@media screen and (max-width:479px) {
    #detail-div{
        width: 100% !important;
       
    }
    
}