.accordion-body{
  color: rgb(0, 0, 0);
}
.accordion .item {
    border: 0;
    border-radius: 0;
    padding: 1.5rem 1rem;
    background: #FFFFFF;
    

    /* border-top: 2px solid rgb(255, 252, 252); */
    

}
.accordion{
  width: 75%;
}

.accordion-header,.accordion-body{

color: #343434;
}

.accordion .item .accordion-header button {
    background-color: transparent;
     box-shadow: none;
     color: rgb(0, 0, 0);
     vertical-align: middle;
     position: relative;
     padding-bottom: 0;
     padding-top: 0;

}

#sss{
  height: 70vh;
}
@media only screen and (max-width:768px) and (min-width:320px){
 
  .accordion{
    width: 100%;
  }
  #sss{
    height:auto ;
  }
  }