.accordion-body{
  color: white;
}
.accordion .item {
    border: 0;
    border-radius: 0;
    padding: 1.5rem 1rem;
    background-color:var(--primary-color);

    /* border-top: 2px solid rgb(255, 252, 252); */
    

}

.accordion .item .accordion-header button {
    background-color: transparent;
     box-shadow: none;
     font-size: 1rem;
     letter-spacing: .125rem;
     line-height: 3rem;
     color: rgb(255, 251, 251);
     font-weight: 900;
     vertical-align: middle;
     position: relative;
     padding-bottom: 0;
     padding-top: 0;

}