p a{
  
text-align: right;

color: #6A6A6A;

}
a:hover{
    color: white !important;
}
.follow-me{


color: #6A6A6A;


}
.contact-icon{
    display: flex;
    gap: 10px;
}
.hr{
    display: none;
}

@media screen and (max-width:487px) {
    .contact-icon{
        justify-content: center;
    }
    .follow-me{
        margin-top: 3rem;
    }
    .hr{
        display: block;
        width: 200px !important;
        position: relative;
        left: 24%;
    }
    .iyzi img{
        margin-top: 2rem;
        width: 355px;
        height: 30px;
    }
}
