*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url(./Home.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./coaching.css);
@import url(./write.css);
@import url(./Detail.css);
@import url(./faqs.css);
@import url(./Header.css);
@import url(./card.css);
@import url(./Footer.css);
@import url(./formik.css);
@import url(./eBook.css);
@import url(./Modal.css);
:root{
--primary-color:rgba(15,24,41,255);
--white-color:#FFFFFF; 
--black-color:#000000;
  
}




                                /* carousel-font */
.carousel-caption p{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 2.5vh;
line-height: 20px;
letter-spacing: 0.05em;
}
.carousel-head{
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 900;
    font-size: 5vh;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
                                   /* home page-font */

 #welcome h2{
    font-family: 'Manrope', sans-serif;
   font-weight: 900;
   font-size: 4vh;
   line-height: 62px;
 }
 #welcome p{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 21px;
letter-spacing: 0.05em;
 }
 #welcome li{
    font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 49px;
letter-spacing: 0.05em;
color: #000000 !important;
 }
 #welcome h4{
    font-family: 'Manrope', sans-serif;

font-style:normal;
font-weight:400;
font-size: 22px;
line-height: 24px;
letter-spacing: 0.05em;
 }
                                    /* Card-font */

#comment-more{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
}
.testimonial-card p{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 122.7%;
letter-spacing: 0.055em;
}
.btn-more{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
}
                                        /* FOooter-font */

footer a{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 122.7%;
letter-spacing: -0.05em;
}

                                          /* Koçluk-fonts */
.nav-tabs .nav-item{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

} 
#context h3{
    font-family: 'Manrope', sans-serif;

    font-style: normal;
    font-weight:700;
    font-size: 3vh;
    line-height: 22px;
}
#button{
    font-family: 'Manrope', sans-serif;

    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height: 22px;
    
}
#container p{
        font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
letter-spacing: 0.05em;
}
#context ul{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
letter-spacing: 0.05em;
}

                                     /* Hakkımda-fonts */
 #bg-section p{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: justify;
letter-spacing: 0.0em;

 }

                                       /* İletişim-fonts */

#form-contact h2{
        font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 700;
font-size: 6vh;
line-height: 62px;
}
#form-contact p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
}
                                      /* BLOG-FONTS */
 #write h1{
    font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 9vh;
line-height: 110px;
 }
 #write p{
    font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
line-height: 24px;
text-align: center;
letter-spacing: 0.05em;
 }
#btn-links{
    font-family: 'Manrope', sans-serif;
font-style: normal;
font-size: 24px;
line-height: 28px;
 } 
 
                                     /* Blog-detail-fonts */

#detail-div p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 0.055em;
}
#detail-div li{
    font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 49px;
letter-spacing: 0.05em;
 }
 #detail-div h1{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    line-height: 62px;
 }


                                                /* SSS-FONT */

#sss-head{
    font-family: 'Manrope', sans-serif;

font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 35px;
}
.accordion-body li{
    font-family: 'Manrope', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 122.7%;
    letter-spacing: 0.055em;
}
.accordion .item .accordion-header button{
    font-family: 'Manrope', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 122.7%;
    letter-spacing: 0.055em;
}


                                         



a{
    text-decoration: none;
}
.py-4{
    list-style: none;
}



@media screen and (max-width:479px) {
  
    .nav-tabs .nav-item{
    font-size: 16px;
    }
    #container p{
        margin-left: 0px !important;
        margin-right: 0px !important;
}
#context ul{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#detail-div p{
    text-align: left;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

    #detail-div h1{
        line-height: 30px;
     }
     #detail-div li{
        text-align: start;
        margin-left: 0px !important;
        margin-right: 5px !important;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.00em;
     }
     #write h1{
    font-size: 6vh;
    line-height: 40px;
     }
     #write p{
    font-size: 2vh;
     }
     #bg-section p{
    font-size: 18px;
    text-align: left;
    margin: 20px 0px 0px 0px;
    letter-spacing: 0.04em;
     }
    
}




::-webkit-scrollbar{
width: 6px;
height: 5px;
}
::-webkit-scrollbar-track{
  background-color:rgba(15,24,41,255);
}
::-webkit-scrollbar-thumb{
background-color: white;

}
::-webkit-scrollbar-thumb:hover{
    background: rgb(13, 36, 78);

}
