*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url(./header.css);
@import url(./home.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./coaching.css);
@import url(./write.css);
@import url(./detail.css);
@import url(./faqs.css);


:root{
--primary-color:rgba(15,24,41,255);
}
a{
    text-decoration: none;
    color: white;
}
.py-4{
    list-style: none;
}
li{
    font-family: Exo, Helvetica,Arial, sans-serif;
    
}
h2{
    font-family: Exo, Helvetica,Arial, sans-serif;
    font-size: 36px;
}
p{
    font-family: Exo, Helvetica,Arial, sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar{
width: 6px;
height: 5px;
}
::-webkit-scrollbar-track{
  background-color:rgba(15,24,41,255);
}
::-webkit-scrollbar-thumb{
background-color: white;

}
::-webkit-scrollbar-thumb:hover{
    background: rgb(13, 36, 78);

}