*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url(./Home.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./coaching.css);
@import url(./write.css);
@import url(./Detail.css);
@import url(./faqs.css);
@import url(./Header.css);
@import url(./card.css);
@import url(./Footer.css);
@import url(./formik.css);
:root{
--primary-color:rgba(15,24,41,255);
 

   /* font */
   --size-1:  2vmin;
   --size-2:  18px;
   --size-3:  4.5vh;


}


a{
    text-decoration: none;
}
.py-4{
    list-style: none;
}
li{
    font-size: var(--size-2) !important;
}
h2{
    font-size: var(--size-3) !important;
}
.carousel-head{
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 5vh;


color: #FFFFFF
}
p{
    font-weight: 400;
    line-height: 24px;
    
    letter-spacing: 0.05em;
    
}
@media screen and (max-width:479px) {
  
   
    p{
        font-size: 16px !important;
    }   
    
}

::-webkit-scrollbar{
width: 6px;
height: 5px;
}
::-webkit-scrollbar-track{
  background-color:rgba(15,24,41,255);
}
::-webkit-scrollbar-thumb{
background-color: white;

}
::-webkit-scrollbar-thumb:hover{
    background: rgb(13, 36, 78);

}
@font-face {
    font-family: 'Gotham Book';
    src: url("../public/fonts/Gotham.woff/GothamBook.ttf");
   

  }
 
  @font-face {
    font-family: 'Gotham Black';
    src: url("../public/fonts/Gotham.woff/GothamBlack.otf");
   

  }
  @font-face {
    font-family: 'Gotham Light';
    src: url("../public/fonts/Gotham.woff/GothamLight.ttf");
   

  }
  @font-face {
    font-family: 'Gotham Bold';
    src: url("../public/fonts/Gotham.woff/GothamBold.ttf");
   

  }
  @font-face {
    font-family: 'Gotham Medium';
    src: url("../public/fonts/Gotham.woff/GothamMedium_1.ttf");
   

  }